-r requirements.txt

ast-serialize==0.8.0 ; python_version >= "3.11" and python_version < "3.15"
black==26.5.1 ; python_version >= "3.11" and python_version < "3.15"
click==8.5.0 ; python_version >= "3.11" and python_version < "3.15"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.15" and sys_platform == "win32"
coverage==7.16.0 ; python_version >= "3.11" and python_version < "3.15"
freezegun==1.5.5 ; python_version >= "3.11" and python_version < "3.15"
iniconfig==2.3.0 ; python_version >= "3.11" and python_version < "3.15"
librt==0.15.0 ; python_version >= "3.11" and python_version < "3.15" and platform_python_implementation != "PyPy"
mypy-extensions==1.1.0 ; python_version >= "3.11" and python_version < "3.15"
mypy==2.3.1 ; python_version >= "3.11" and python_version < "3.15"
packaging==26.3 ; python_version >= "3.11" and python_version < "3.15"
pathspec==1.1.1 ; python_version >= "3.11" and python_version < "3.15"
platformdirs==4.11.5 ; python_version >= "3.11" and python_version < "3.15"
pluggy==1.6.0 ; python_version >= "3.11" and python_version < "3.15"
pygments==2.21.0 ; python_version >= "3.11" and python_version < "3.15"
pytest-asyncio==1.4.0 ; python_version >= "3.11" and python_version < "3.15"
pytest==9.1.1 ; python_version >= "3.11" and python_version < "3.15"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.15"
pytokens==0.4.1 ; python_version >= "3.11" and python_version < "3.15"
ruff==0.16.5 ; python_version >= "3.11" and python_version < "3.15"
six==1.17.0 ; python_version >= "3.11" and python_version < "3.15"
typing-extensions==4.16.0 ; python_version >= "3.11" and python_version < "3.15"
